.sidemenu {
    padding: 1.25rem;
    width: 16rem;
    height:100%;
    border-top: 1px solid #ccc;
    position: relative;
    animation: show 0.5s ease 0s;
    opacity:1;
}
.sidemenu-active {
    padding: 1.25rem;
    width: 16rem;
    height:100%;
    border-top: 1px solid #ccc;
    position: relative;
    transition:800ms;
    display:none;
    opacity: 0;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.createEventButton {
    display:flex;
    align-items:center;
    border-radius: 9999px;
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    background-color:white;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.createEventButton:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.img {
	width: 1.75rem; /* 28px */
    height: 1.75rem;
}
.span {
    padding-left: 0.75rem; /* 12px */
    padding-right: 1.75rem; /* 28px */
}