.container {
  height: 90vh;
  width:100%;
  position:relative;
  overflow:hidden;

}
.grid {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.days {
  border-right: 1px solid #ccc;
  padding-top: 10px;
}